@import "tailwindcss";

@theme {
  --color-kestone-red: #FF214F;
  --color-kestone-black: #000000;
  --color-kestone-gray: #212529;

  --font-heading: var(--font-montserrat), sans-serif;
  --font-body: var(--font-roboto), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #212529;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
  width: 100%;
}